body {
    overflow: hidden; /* Скрыть прокрутку */
}
#game-canvas {
    width: 100vw; /* Ширина канваса равна ширине окна */
    height: 100vh; /* Высота канваса равна высоте окна */
    transform: scale(0.8); /* Масштабирование канваса */
    transform-origin: top left; /* Масштабирование от верхнего левого угла */
}
